.searchFilterParent {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchTransactions {
    outline: none;
    border: none;
    padding: 10px;
    background-color: #51546e;
    border-radius: 4px;
    width: 40%;
    color: white;
}

.filterTransactionType {
    outline: none;
    border: none;
    padding: 10px;
    background-color: #51546e;
    border-radius: 4px;
    width: 40%;
    color: grey;
    -webkit-appearance: none;
}