.titleBarParent {
    background-color: #3f4156;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
}

.signOutButton {
    color: white !important;
    font-weight: bold !important;
    text-transform: none !important;
}

.signOutIcon {
    color: white;
}