.dashboardParent {
    margin-top: 20px;
}

.addTransactionParent {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting {
    margin: 0;
    color: white;
    font-size: large;
    font-weight: bold;
}

.addTransactionButton {
    background-color: #71c6dd !important;
    color: black !important;
    text-transform: none !important;
}

.transactionListBinder {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

.dialog > div > div {
    width: 80% !important;
}

.dialog > div > div > div {
    padding-top: 20px !important;
}